WebApp_Basicos/.vs
WebApp_Basicos/packages

WebApp_Comentarios/.vs
WebApp_Comentarios/packages

WebApp_Forms/.vs
WebApp_Forms/packages

WebApp_FormsNoTipados/.vs
WebApp_FormsNoTipados/packages

WebApp_ListaErrores/.vs
WebApp_ListaErrores/packages

WebApp_Parciales/.vs
WebApp_Parciales/packages

WebApp_Proveedores/.vs
WebApp_Proveedores/packages

WebApp_Razor/.vs
WebApp_Razor/packages

WebApp_RegistroCivil/.vs
WebApp_RegistroCivil/packages

WebApp_SQLClientes/.vs
WebApp_SQLClientes/packages

WebApp_SQLSupermercado/.vs
WebApp_SQLSupermercado/packages

WebApp_SQLZapateria/.vs
WebApp_SQLZapateria/packages

WebApp_Validaciones/.vs
WebApp_Validaciones/packages

WebApp_WebSite/.vs
WebApp_WebSite/packages