
@{
    ViewBag.Title = "Buscadores";
    Layout = "~/Views/Shared/_Pincipal.cshtml";
}

<h2>Buscadores</h2>
<p><a href="http://www.google.com">Google</a></p>
<p><a href="http://www.yahoo.com">Yahoo</a></p>
<p><a href="http://www.bing.com">Bing</a></p>

