
@{
    ViewBag.Title = "Periodicos";
    Layout = "~/Views/Shared/_Pincipal.cshtml";
}

<h2>Periodicos</h2>
<p><a href="http://www.lanacion.com.ar">La Nación</a></p>
<p><a href="http://www.clarin.com.ar">El Clarin</a></p>
<p><a href="http://www.lavoz.com.ar">La Voz</a></p>

