
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Club de Fútbol</h1>
        <p>Club nacido en el barrio Solanda...</p>
    </div>
</body>
</html>
