
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plantel</title>
</head>
<body>
    <div>
        <h1>Jugadores</h1>
        <p>
            Jhonathan<br>
            Jefferson<br>
            Anthony<br>
        </p>
    </div>
</body>
</html>
