
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ArticuloNoExistente</title>
</head>
<body>
    <div>
        <p>El codigo de articulo ingresado no exite.</p>
        @Html.ActionLink("Retornar", "Index")
    </div>
</body>
</html>
